{% extends 'base.html' %}

{% block title %}Pattern analysis{% endblock %}

{% block content %}
<div class="container-fluid p-3">
    <form action="{{url_for('predict')}}" method="post" class="p-0" id="metrics-form">
        <div class="row justify-content-center text-center lightblue-bg-color fixed-top fixed-content" id="fixed-content">
            <div class="col-11 p-3">
                <!-- Sección de importar y exportar datos -->
                <div class="row mt-2 justify-content-center align-items-center">
                    <div class="col-3 p-1 d-none d-sm-block">
                        <h5 class="mb-0 text-start">Actions</h5>
                    </div>
                    <div class="col p-1 d-grid">
                        <button type="button" class="btn btn-sm blue-green-bg-color text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" id="json-file-import-button" title="Import a JSON file with the metrics">Import JSON</button>
                    </div>
                    <div class="col p-1 d-grid">
                        <button type="button" class="btn btn-sm blue-green-bg-color text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" id="code-file-import-button" title="Import a qiskit code file to analyze">Import code</button>
                    </div>
                    <div class="col p-1 d-grid">
                        <button type="button" class="btn btn-sm blue-green-bg-color text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" id="json-file-export-button" title="Export the table metrics to a JSON file">Export JSON</button>
                    </div>
                </div>
                <!-- Sección de selección de modelos -->
                <div class="row mt-2">
                    <div class="col-3 p-1 d-none d-sm-block">
                        <h5 class="mb-0 text-start text-truncate">ML model(s) to use</h5>
                    </div>
                    <div class="col-12 col-sm-9 p-1">
                        <div class="row">
                            {% for label, value in trained_models.items() %}
                            <div class="col text-start text-truncate">
                                <input class="form-check-input" type="checkbox" value="{{value}}" name="metrics-model-checkbox-{{value}}" id="metrics-model-checkbox-{{value}}">
                                <span class="form-check-label" for="metrics-model-checkbox-{{value}}" title="{{label}}">{{label}}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 p-1 mt-2 d-grid">
                        <button type="submit" class="btn blue-green-bg-color text-white" id="metrics-prediction-button">Make prediction</button>
                    </div>
                </div>
                <hr/>
                <!-- Botón de añadir circuito -->
                <div class="row mt-2">
                    <div class="col p-1 d-grid">
                        <button type="button" class="btn btn-success" id="metrics-add-circuit-button">Add circuit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contenedor de los formularios de métricas -->
        <div class="row justify-content-around" id="metrics-container">
            <!-- Alertas -->
            <div class="col-12">
                {% if error_message %}
                <div class="alert alert-danger text-center" role="alert">
                    <h5 class="mb-0">{{error_message}}</h5>
                </div>
                {% endif %}
                {% if circuit_metrics or circuits_list %}
                <div class="alert alert-success text-center" role="alert">
                    <h5 class="mb-0">The file has been imported successfully</h5>
                </div>
                {% endif %}
            </div>
            <div class="col-11 col-lg-7 lightblue-bg-color border border-dark">
                <!-- Cuerpo (formulario) de la tabla -->
                <div class="row border-top border-dark d-flex flex-nowrap overflow-scroll" id="metrics-body">
                    <!-- Columna de categorías y métricas generada por JS -->
                    <!-- Columnas de los circuitos generados por JS -->
                </div>
            </div>
            {% if file_content and file_extension %}
            <div class="col-11 col-lg-4 lightblue-bg-color border border-dark h-auto">
                <div class="row">
                    <!-- Encabezado -->
                    <div class="col-12 p-2 metric-col-height text-white darkblue-bg-color border border-dark d-flex justify-content-center align-items-center">
                        <h2 class="text-center mb-0">
                            {% if file_extension == "json" %}
                            IMPORTED FILE
                            {% elif file_extension == "py" %}
                            CODE ANALYZED
                            {% endif %}
                        </h2>
                    </div>
                    <div class="col-12 mt-3">
                        <h5 class="mb-2">File "{{file_name}}"</h5>
                        <pre><code class="language-{{file_extension}} line-numbers">{{ file_content | safe }}</code></pre>
                    </div>
                    {% if circuits_list %}
                    <div class="col-12 mt-3">
                        {% for circuit in circuits_list %}
                        <h5 class="mb-2">Circuit "{{circuit.name}}"</h5>
                        <img src="data:image/png;base64, {{ circuit.circuit_draw }}" alt="Quantum Circuit" class="img-fluid">
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</div>
<div class="modal fade" tabindex="-1" id="error-info-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Error in the form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="error-info-title">
                    Metric values ​​must be numeric and at least one model must be selected
                </h5>
                <p id="error-info-text"></p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="file-import-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header grey-bg-color text-dark">
                <h5 class="modal-title">Importing a file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{url_for('import_file')}}" method="post" enctype="multipart/form-data" class="p-0" id="file-import-form">
                <div class="modal-body d-grid">
                    <label class="form-label fw-bold" for="file-input">Select a file (<span id="file-extension-type"></span> files only)</label>
                    <input class="form-control" type="file" name="file" required="required" id="file-input">
                    <input type="hidden" name="file_extension" id="file-extension-allowed">
                    <button type="submit" class="btn blue-green-bg-color text-white mt-3" id="file-import-button">Import file</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% if circuit_metrics %}
<div id="circuit-metrics" circuit-metrics-data='{{ circuit_metrics | tojson }}' style="display: none;"></div>
{% endif %}
{% if circuits_list %}
<div id="circuits-list" circuits-list-data='{{ circuits_list | tojson }}' style="display: none;"></div>
{% endif %}
{% endblock %}

{% block scripts %}
<!-- Script personalizado -->
<script src="../../static/pattern_analysis.js"></script>
<!-- Script de prismjs para colorear el código -->
<script src="../../static/prism.js"></script>
{% endblock %}