{% extends 'base.html' %}

{% block title %}Análisis de patrones{% endblock %}

{% block content %}
    <div class="container-fluid p-3">
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <h1 class="display-3">Análisis de patrones</h1>
                <hr/>
            </div>
        </div>
        {% if circuits_list %}
        <div class="alert alert-danger text-center" role="alert">
            <h5 class="mb-0">{{circuits_list}}</h5>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-12 d-grid p-1">
                <p class="text-center mb-0">Puedes importar un fichero JSON con las métricas, un fichero de código qiskit para analizar o insertar las métricas manualmente</p>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-10 col-md-5 col-xl-4 d-grid p-1">
                <button type="button" class="btn btn-primary">Importar JSON de métricas</button>
            </div>
            <div class="col-10 col-md-5 col-xl-4 d-grid p-1">
                <button type="button" class="btn btn-primary">Importar fichero de código</button>
            </div>
        </div>
        <!-- Contenedor de los formularios de métricas -->
        <div class="row justify-content-center mt-3" id="metrics-container">
            <div class="col-11 div-bg-color border border-dark"> <!-- col-md-11 col-lg-10 col-xl-8 -->
                <!-- Encabezado de la tabla -->
                <div class="row justify-content-between align-items-center bg-dark border border-white p-1" id="metrics-header">
                    <div class="col-12 col-sm-8 col-lg-10 p-1 bg-white text-dark">
                        <h2 class="text-center mb-0">TABLA DE MÉTRICAS</h2>
                    </div>
                    <div class="col-12 col-sm-4 col-lg-2 d-grid p-1">
                        <button type="button" class="btn btn-success" id="metrics-add-circuit-button">Añadir circuito</button>
                    </div>
                </div>
                <!-- Cuerpo (formulario) de la tabla -->
                <form action="{{url_for('predict')}}" method="post" class="p-0" id="metrics-form">
                    <div class="row border-top border-dark" id="metrics-body">
                        <!-- Columna de categorías y métricas generada por JS -->
                        <!-- Columnas de los circuitos generados por JS -->
                    </div>
                    <!-- Sección de exportar datos -->
                    <div class="row text-white bg-dark p-2" id="metrics-export-metrics">
                        <div class="col-12 p-2">
                            <span class="mb-0 p-2 ps-0">Exportar las métricas a un fichero JSON</span>
                            <button type="button" class="btn btn-primary btn-sm">Exportar métricas</button>
                        </div>
                    </div>
                    <!-- Footer de la tabla -->
                    <div class="row mt-3 p-3" id="metrics-footer">
                        <div class="col-12 ps-3">
                            <h5 class="mb-2">Modelo(s) de ML a utilizar</h5>
                            <ul class="flex-column p-1">
                            {% for label, value in trained_models.items() %}
                                <div class="form-check text-start">
                                    <input class="form-check-input" type="checkbox" value="{{value}}" name="metrics-model-checkbox-{{value}}" id="metrics-model-checkbox-{{value}}">
                                    <label class="form-check-label" for="metrics-model-checkbox-{{value}}">{{label}}</label>
                                </div>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="col-12 p-1 d-grid">
                            <button type="submit" class="btn btn-primary btn-lg" id="metrics-prediction-button">Realizar predicción</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="error-info-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Error en el formulario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 id="error-info-title"></h5>
                    <p id="error-info-text"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Script personalizado -->
    <script src="../static/pattern_analysis.js"></script>
{% endblock %}