<!-- Pie de página -->
<footer class="container-fluid mt-3 darkblue-bg-color">
    <div class="row text-center text-white p-3">
        <div class="col-12 col-md-4 mb-3">
            <h1 class="text-white me-0" href="/">{{app_name}}</h1>
            <p class="text-white fw-bold mb-0">© 2025</p>
        </div>
        <div class="col-6 col-md-4 mb-3">
            <h1>Pattern analysis</h1>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/pattern_analysis_configuration" class="p-0 text-white fw-bold text-decoration-none underline-hover">Pattern analysis configuration</a></li>
                {% if last_analysis %}
                <li class="nav-item mb-2"><a href="/prediction_results" class="p-0 text-white fw-bold text-decoration-none underline-hover">Prediction results</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-6 col-md-4 mb-3">
            <h1>ML models</h1>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/ml_models" class="p-0 text-white fw-bold text-decoration-none underline-hover">Multilabel models performance comparison</a></li>
                <li class="nav-item mb-2"><a href="/ml_models#ml_models_performance_details" class="p-0 text-white fw-bold text-decoration-none underline-hover">Multilabel models performance details</a></li>
                <li class="nav-item mb-2"><a href="/ovr_models" class="p-0 text-white fw-bold text-decoration-none underline-hover">One vs Rest models performance comparison</a></li>
                <li class="nav-item mb-2"><a href="/ovr_models#ovr_models_performance_details" class="p-0 text-white fw-bold text-decoration-none underline-hover">One vs Rest models performance details</a></li>
            </ul>
        </div>
    </div>
</footer>