<!-- Pie de página -->
<footer class="container-fluid mt-3 bg-primary">
    <div class="row text-center text-white p-3">
        <div class="col-12 col-md-4 mb-3">
            <h5 class="text-white me-0" href="/">{{app_name}}</h5>
            <p class="text-dark fw-bold mb-0">© 2024</p>
        </div>
        <div class="col-6 col-md-4 mb-3">
            <h5>Pattern analysis</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="p-0 text-white fw-bold text-decoration-none">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="p-0 text-white fw-bold text-decoration-none">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="p-0 text-white fw-bold text-decoration-none">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="p-0 text-white fw-bold text-decoration-none">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="p-0 text-white fw-bold text-decoration-none">About</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-4 mb-3">
            <h5>ML models</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="p-0 text-white fw-bold text-decoration-none">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="p-0 text-white fw-bold text-decoration-none">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="p-0 text-white fw-bold text-decoration-none">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="p-0 text-white fw-bold text-decoration-none">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="p-0 text-white fw-bold text-decoration-none">About</a></li>
            </ul>
        </div>
    </div>
</footer>