{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container-fluid p-3">
        <div class="row justify-content-center text-center">
            <div class="col-10">
                <h1 class="display-3">Bienvenid@ a QuantumPatternsML</h1>
                <hr/>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-10">
                <h2>Herramienta de Machine Learning para la detección y predicción de patrones de diseño en software cuántico</h2>
            </div>
            <div class="col-10 mt-3">
                <p>
                    La definición y utilización de patrones software ha demostrado ser clave para desarrollar software de calidad de forma sistemática. Estos patrones son soluciones buenas a problemas frecuentes que los desarrolladores se encuentran. Hay gran cantidad de patrones de diseño en la literatura que han demostrado funcionar bien y conseguir su cometido.
                </p>
                <p>
                    Por otra parte, con el auge de la computación cuántica, y el inicio de investigaciones en el campo de la ingeniería del software cuántico, se ha observado que no existen aún patrones de diseño bien documentados y validados en la industria para el software cuántico, cuya naturaleza (radicalmente diferente al software tradicional) hace que los patrones existentes no sean válidos.
                </p>
                <p>
                    Debido a esto, esta herramienta basada en algoritmos de Machine Learning permite analizar el software cuántico existente y detectar o predecir el uso de ciertos patrones de diseño para software cuántico propuestos.
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-lg-5 p-2 d-grid">
                <button type="button" class="btn btn-primary p-0">
                    <a class="nav-link text-white" href="/analisis_patrones">
                        <h2 class="mb-0">Análisis de patrones</h2>
                    </a>
                </button>
            </div>
            <div class="col-12 col-lg-5 p-2 d-grid">
                <button type="button" class="btn btn-primary p-0">
                    <a class="nav-link text-white" href="/modelos_ml">
                        <h2 class="mb-0">Modelos de ML</h2>
                    </a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}