{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container-fluid p-3">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="display-5 text-center">Bienvenid@ a {{app_name}}</h1>
                <hr/>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-10">
                <h3 class="text-center">Herramienta de Machine Learning para la detección y predicción de patrones de diseño en software cuántico</h3>
            </div>
            <div class="col-10 mt-3">
                <p class="justify-text">
                    La definición y utilización de patrones software ha demostrado ser clave para desarrollar software de calidad de forma sistemática. Estos patrones son soluciones buenas a problemas frecuentes que los desarrolladores se encuentran. Hay gran cantidad de patrones de diseño en la literatura que han demostrado funcionar bien y conseguir su cometido.
                </p>
                <p class="justify-text">
                    Por otra parte, con el auge de la computación cuántica, y el inicio de investigaciones en el campo de la ingeniería del software cuántico, se ha observado que no existen aún patrones de diseño bien documentados y validados en la industria para el software cuántico, cuya naturaleza (radicalmente diferente al software tradicional) hace que los patrones existentes no sean válidos.
                </p>
                <p class="justify-text">
                    Debido a esto, esta herramienta basada en algoritmos de Machine Learning permite analizar el software cuántico existente y detectar o predecir el uso de ciertos patrones de diseño para software cuántico propuestos.
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-10 col-lg-5 p-2 d-grid">
                <button type="button" class="btn btn-primary p-1" onclick="window.location.href='/analisis_patrones';">
                        <h3 class="mb-0">Realizar análisis de patrones</h3>
                </button>
            </div>
            <div class="col-10 col-lg-5 p-2 d-grid">
                <button type="button" class="btn btn-primary p-1" onclick="window.location.href='/modelos_ml';">
                    <h3 class="mb-0">Ver estádisticas de los modelos</h3>
                </button>
            </div>
        </div>
    </div>
{% endblock %}