<!-- Barra de navegación -->
<nav class="navbar sticky-top navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">{{app_name}}</a>
        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" href="/analisis_patrones">Análisis de patrones</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Modelos de ML
                </a>
            <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                <li><button class="dropdown-item text-white" onclick="window.location.href='/modelos_ml';">Comparativa de modelos</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><button class="dropdown-item text-white" onclick="window.location.href='#';">Clasificador KNN</button></li>
                <li><button class="dropdown-item text-white" onclick="window.location.href='#';">Clasificador KNN individual</button></li>
                <li><button class="dropdown-item text-white" onclick="window.location.href='#';">Clasificador Random Forest</button></li>
            </ul>
            </li>
        </ul>
        </div>
    </div>
</nav>