<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid text-white">
        <a class="navbar-brand text-white" href="/">QuantumPatternsML</a>
        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" href="/analisis_patrones">Análisis de patrones</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Modelos de ML
                </a>
            <ul class="dropdown-menu bg-info" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-white" href="#">Clasificador KNN</a></li>
                <li><a class="dropdown-item text-white" href="#">Clasificador KNN individual</a></li>
                <li><a class="dropdown-item text-white" href="#">Clasificador Random Forest</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-white" href="/modelos_ml">Comparativa de modelos</a></li>
            </ul>
            </li>
        </ul>
        </div>
    </div>
</nav>