{% extends 'ml_models/ml_models_base.html' %}

{% block title %}ML models{% endblock %}

{% block navigation_links %}
<ul class="nav nav-pills nav-fill darkblue-bg-color p-2">
    <li class="nav-item m-1">
        <a class="nav-link active-custom text-white" aria-current="page" href="/ml_models">Multilabel models</a>
    </li>
    <li class="nav-item grey-bg-color m-1">
        <a class="nav-link text-dark" href="/ovr_models">One vs Rest models</a>
    </li>
</ul>
{% endblock %}

{% block chart_and_result_table %}
<!-- Gráfica -->
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-xl-8">
        <canvas id="verticalBarChart"></canvas>
    </div>
</div>
<!-- Tabla de resultados -->
<div class="row mb-3">
    <div class="col-12">
        <!-- Cabecera -->
        <div class="row mt-3" id="ml_models_performance_comparison-header">
            <div class="col-4 p-2 border border-dark text-white darkblue-bg-color">
                <h3 class="mb-0 text-truncate" title="Models/Metrics">Models/Metrics</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Accuracy">Accuracy</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Precision">Precision</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Recall">Recall</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="F1">F1</h3>
            </div>
        </div>
        <!-- Métricas de los modelos -->
        {% for ml_model_name, ml_model in ml_models_dict.items() %}
        <div class="row" id="ml_models_performance_comparison-model-{{ml_model_name}}-row">
            <div class="col-4 p-2 border border-dark text-dark grey-bg-color text-truncate">
                <span class="mb-0 fw-bold" title="{{ml_model_name}}">{{ml_model_name}}</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format(ml_model.model_performance_data['Accuracy']) }}%">{{ '%.2f'|format(ml_model.model_performance_data['Accuracy']) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format(ml_model.model_performance_data['Precision']) }}%">{{ '%.2f'|format(ml_model.model_performance_data['Precision']) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format(ml_model.model_performance_data['Recall']) }}%">{{ '%.2f'|format(ml_model.model_performance_data['Recall']) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format(ml_model.model_performance_data['F1']) }}%">{{ '%.2f'|format(ml_model.model_performance_data['F1']) }}%</span>
            </div>
        </div>
        <div class="row" id="ml_models_performance_comparison-model-{{ml_model_name}}-with-best-features-row">
            <div class="col-4 p-2 border border-dark text-dark grey-bg-color text-truncate">
                <span class="mb-0 fw-bold" title="{{ml_model_name}} with feature selection">{{ml_model_name}} with feature selection</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format(ml_model.best_features_model_performance_data['Accuracy']) }}%">{{ '%.2f'|format(ml_model.best_features_model_performance_data['Accuracy']) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format(ml_model.best_features_model_performance_data['Precision']) }}%">{{ '%.2f'|format(ml_model.best_features_model_performance_data['Precision']) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format(ml_model.best_features_model_performance_data['Recall']) }}%">{{ '%.2f'|format(ml_model.best_features_model_performance_data['Recall']) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format(ml_model.best_features_model_performance_data['F1']) }}%">{{ '%.2f'|format(ml_model.best_features_model_performance_data['F1']) }}%</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block performance_details_row %}
<div class="row" id="ml_models_performance_details">
{% endblock %}

{% block performance_details_accordion %}
<div class="accordion" id="ml_models_performance_details-accordion">
{% endblock %}

{% block model_performance_metrics %}
<div class="row p-2">
    <div class="col-12 col-sm-6 col-lg-3">
        <h2 class="mb-0 text-truncate" title="Accuracy">Accuracy</h2>
        <canvas class="chart-dimensions" data-value="{{ '%.2f'|format(ml_model.model_performance_data['Accuracy']) }}"></canvas>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <h2 class="mb-0 text-truncate" title="Precision">Precision</h2>
        <canvas class="chart-dimensions" data-value="{{ '%.2f'|format(ml_model.model_performance_data['Precision']) }}"></canvas>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <h2 class="mb-0 text-truncate" title="Recall">Recall</h2>
        <canvas class="chart-dimensions" data-value="{{ '%.2f'|format(ml_model.model_performance_data['Recall']) }}"></canvas>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <h2 class="mb-0 text-truncate" title="F1">F1</h2>
        <canvas class="chart-dimensions" data-value="{{ '%.2f'|format(ml_model.model_performance_data['F1']) }}"></canvas>
    </div>
</div>
{% endblock %}

{% block classification_report %}
<div class="row p-2">
    <div class="col-12">
        <!-- Cabecera -->
        <div class="row">
            <div class="col-4 p-2 border border-dark text-white darkblue-bg-color">
                <h3 class="mb-0 text-truncate" title="Pattern">Pattern</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Precision">Precision</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Recall">Recall</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="F1-score">F1-score</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Support">Support</h3>
            </div>
        </div>
        <!-- Métricas de los patrones -->
        {% for pattern, pattern_metrics in ml_model.model_performance_data['Classification report'].items() %}
        <div class="row" id="ml_models_performance_details_per_pattern-model-{{ml_model_name}}-row">
            <div class="col-4 p-2 border border-dark text-dark grey-bg-color text-truncate">
                <span class="mb-0 fw-bold" title="{{pattern | replace('p.', '') | capitalize }}">{{pattern | replace("p.", "") | capitalize }}</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format((pattern_metrics['precision'] * 100) | float | round(3)) }}%">{{ '%.2f'|format((pattern_metrics['precision'] * 100) | float | round(3)) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format((pattern_metrics['recall'] * 100) | float | round(3)) }}%">{{ '%.2f'|format((pattern_metrics['recall'] * 100) | float | round(3)) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format((pattern_metrics['f1-score'] * 100) | float | round(3)) }}%">{{ '%.2f'|format((pattern_metrics['f1-score'] * 100) | float | round(3)) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{pattern_metrics['support'] | int }}">{{pattern_metrics['support'] | int }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block confusion_matrices %}
{% set confusion_matrix = ml_model.model_performance_data['Confusion matrix'][pattern] %}
{% set normalized_confusion_matrix = ml_model.model_performance_data['Normalized confusion matrix'][pattern] %}
<!-- Filas -->
<div class="row">
    <div class="col-4 p-2 border border-dark text-dark grey-bg-color text-truncate">
        <span class="mb-0 fw-bold" title="Predicted value - False">Predicted value - False</span>
    </div>
    <div class="col-4 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
        <span class="mb-0" title="{{ confusion_matrix[0][0] }} ({{ '%.2f'|format((normalized_confusion_matrix[0][0] * 100) | float | round(3)) }}%)">{{ confusion_matrix[0][0] }} ({{ '%.2f'|format((normalized_confusion_matrix[0][0] * 100) | float | round(3)) }}%)</span>
    </div>
    <div class="col-4 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
        <span class="mb-0" title="{{ confusion_matrix[0][1] }} ({{ '%.2f'|format((normalized_confusion_matrix[0][1] * 100) | float | round(3)) }}%)">{{ confusion_matrix[0][1] }} ({{ '%.2f'|format((normalized_confusion_matrix[0][1] * 100) | float | round(3)) }}%)</span>
    </div>
</div>
<div class="row">
    <div class="col-4 p-2 border border-dark text-dark grey-bg-color text-truncate">
        <span class="mb-0 fw-bold" title="Predicted value - True">Predicted value - True</span>
    </div>
    <div class="col-4 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
        <span class="mb-0" title="{{ confusion_matrix[1][0] }} ({{ '%.2f'|format((normalized_confusion_matrix[1][0] * 100) | float | round(3)) }}%)">{{ confusion_matrix[1][0] }} ({{ '%.2f'|format((normalized_confusion_matrix[1][0] * 100) | float | round(3)) }}%)</span>
    </div>
    <div class="col-4 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
        <span class="mb-0" title="{{confusion_matrix[1][1] }} ({{ '%.2f'|format((normalized_confusion_matrix[1][1] * 100) | float | round(3)) }}%)">{{ confusion_matrix[1][1] }} ({{ '%.2f'|format((normalized_confusion_matrix[1][1] * 100) | float | round(3)) }}%)</span>
    </div>
</div>
{% endblock %}

{% block best_features_model_performance_metrics %}
<div class="row p-2">
    <div class="col-12 col-sm-6 col-lg-3">
        <h2 class="mb-0 text-truncate" title="Accuracy">Accuracy</h2>
        <canvas class="chart-dimensions" data-value="{{ '%.2f'|format(ml_model.best_features_model_performance_data['Accuracy']) }}"></canvas>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <h2 class="mb-0 text-truncate" title="Precision">Precision</h2>
        <canvas class="chart-dimensions" data-value="{{ '%.2f'|format(ml_model.best_features_model_performance_data['Precision']) }}"></canvas>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <h2 class="mb-0 text-truncate" title="Recall">Recall</h2>
        <canvas class="chart-dimensions" data-value="{{ '%.2f'|format(ml_model.best_features_model_performance_data['Recall']) }}"></canvas>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <h2 class="mb-0 text-truncate" title="F1">F1</h2>
        <canvas class="chart-dimensions" data-value="{{ '%.2f'|format(ml_model.best_features_model_performance_data['F1']) }}"></canvas>
    </div>
</div>
{% endblock %}

{% block best_features %}
<div class="row" id="ml_models_best_features-model-{{ml_model_name}}-row">
    <div class="col-12">
        <h3 class="fw-bold mt-2">{{ml_model.best_features|length}} selected features</h3>
        <div class="row p-2">
            {% for feature in ml_model.best_features %}
            <div class="col-12 col-md-4 col-xxl-2">
                <span><b>{{loop.index}}.</b> {{feature}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block best_features_classification_report %}
<div class="row p-2">
    <div class="col-12">
        <!-- Cabecera -->
        <div class="row">
            <div class="col-4 p-2 border border-dark text-white darkblue-bg-color">
                <h3 class="mb-0 text-truncate" title="Pattern">Pattern</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Precision">Precision</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Recall">Recall</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="F1-score">F1-score</h3>
            </div>
            <div class="col-2 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Support">Support</h3>
            </div>
        </div>
        <!-- Métricas de los patrones -->
        {% for pattern, pattern_metrics in ml_model.best_features_model_performance_data['Classification report'].items() %}
        <div class="row" id="ml_models_performance_details_per_pattern-model-{{ml_model_name}}-row">
            <div class="col-4 p-2 border border-dark text-dark grey-bg-color text-truncate">
                <span class="mb-0 fw-bold" title="{{pattern | replace('p.', '') | capitalize }}">{{pattern | replace("p.", "") | capitalize }}</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format((pattern_metrics['precision'] * 100) | float | round(3)) }}%">{{ '%.2f'|format((pattern_metrics['precision'] * 100) | float | round(3)) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format((pattern_metrics['recall'] * 100) | float | round(3)) }}%">{{ '%.2f'|format((pattern_metrics['recall'] * 100) | float | round(3)) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ '%.2f'|format((pattern_metrics['f1-score'] * 100) | float | round(3)) }}%">{{ '%.2f'|format((pattern_metrics['f1-score'] * 100) | float | round(3)) }}%</span>
            </div>
            <div class="col-2 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{pattern_metrics['support'] | int }}">{{pattern_metrics['support'] | int }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block best_features_confusion_matrices %}
{% for pattern, confusion_matrix in ml_model.best_features_model_performance_data['Confusion matrix'].items() %}
<div class="row p-2">
    <div class="col-12">
        <!-- Cabecera -->
        <div class="row">
            <div class="col-4 p-2 border border-dark text-white darkblue-bg-color">
                <h3 class="mb-0 text-truncate" title="{{ pattern|replace('p.', '')|capitalize }}">
                    {{ pattern|replace('p.', '')|capitalize }}
                    <a class="text-decoration-none ms-1" href="{{ pattern_links[pattern] }}" target="_blank">Click to learn more</a>
                </h3>
            </div>
            <div class="col-4 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Real value - False">Real value - False</h3>
            </div>
            <div class="col-4 p-2 border border-dark text-white blue-green-bg-color text-end">
                <h3 class="mb-0 text-truncate" title="Real value - True">Real value - True</h3>
            </div>
        </div>
        <!-- Filas -->
        <div class="row">
            <div class="col-4 p-2 border border-dark text-dark grey-bg-color text-truncate">
                <span class="mb-0 fw-bold" title="Predicted value - False">Predicted value - False</span>
            </div>
            <div class="col-4 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ confusion_matrix[0][0] }} ({{ '%.2f'|format((ml_model.best_features_model_performance_data['Normalized confusion matrix'][pattern][0][0] * 100) | float | round(3)) }}%)">{{ confusion_matrix[0][0] }} ({{ '%.2f'|format((ml_model.best_features_model_performance_data['Normalized confusion matrix'][pattern][0][0] * 100) | float | round(3)) }}%)</span>
            </div>
            <div class="col-4 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ confusion_matrix[0][1] }} ({{ '%.2f'|format((ml_model.best_features_model_performance_data['Normalized confusion matrix'][pattern][0][1] * 100) | float | round(3)) }}%)">{{ confusion_matrix[0][1] }} ({{ '%.2f'|format((ml_model.best_features_model_performance_data['Normalized confusion matrix'][pattern][0][1] * 100) | float | round(3)) }}%)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-2 border border-dark text-dark grey-bg-color text-truncate">
                <span class="mb-0 fw-bold" title="Predicted value - True">Predicted value - True</span>
            </div>
            <div class="col-4 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{ confusion_matrix[1][0] }} ({{ '%.2f'|format((ml_model.best_features_model_performance_data['Normalized confusion matrix'][pattern][1][0] * 100) | float | round(3)) }}%)">{{ confusion_matrix[1][0] }} ({{ '%.2f'|format((ml_model.best_features_model_performance_data['Normalized confusion matrix'][pattern][1][0] * 100) | float | round(3)) }}%)</span>
            </div>
            <div class="col-4 p-2 border border-dark text-dark text-end lightblue-bg-color text-truncate">
                <span class="mb-0" title="{{confusion_matrix[1][1] }} ({{ '%.2f'|format((ml_model.best_features_model_performance_data['Normalized confusion matrix'][pattern][1][1] * 100) | float | round(3)) }}%)">{{ confusion_matrix[1][1] }} ({{ '%.2f'|format((ml_model.best_features_model_performance_data['Normalized confusion matrix'][pattern][1][1] * 100) | float | round(3)) }}%)</span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block custom_scripts %}
<!-- Script personalizado -->
<script src="../../static/ml_models.js"></script>
{% endblock %}