/* Estilos genéricos para las etiquetas principales */
h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

p {
    font-size: 14px;
}

span {
    font-size: 14px;
}

code span {
    font-size: 1em;
}

.language-py span {
    font-size: 16px;
}

a {
    font-size: 14px;
}

/* Paleta de colores */
.darkblue-bg-color {
    background-color: #022B3A;
}

.blue-green-bg-color {
    background-color: #1F7A8C;
}

.lightblue-bg-color {
    background-color: #BFDBF7;
}

.grey-bg-color {
    background-color: #E1E5F2;
}

.blue-bg-color {
    background-color: #a7bff1;
}

.dropdown-item:hover {
    color: #212529 !important;
}

.dropdown-item:active {
    background-color: #e9ecef !important;
}

/* Estilos específicos */
.justify-text {
    text-indent: 2rem;
    text-align: justify;
}

.metric-col-height {
    height: 68px;
}

.input-col-height {
    height: 42px;
}

.full-height {
    height: 100%;
}

/* Fijar la primera columna de la tabla de métricas */
.sticky {
    position: sticky;      /* Fijar el elemento cuando se hace scroll */
    left: 0;               /* Fijar el elemento en la parte izquierda */
    z-index: 1;            /* Asegurar que esté por encima de otros elementos */
}

.fixed-content {
    margin-top: 56px;
    z-index: 900;
}

.active-custom {
    background-color: #a7bff1 !important;
    color: black !important; 
    font-weight: bold;
    border-radius: 5px;
}

.disabled-custom {
    color: grey !important;
}

.chart-dimensions {
    width: 175px;
    height: 175px;
}

.underline-hover:hover {
    text-decoration: underline !important;
}

.progress {
    position: relative;
    height: 26px;
    background-color: #e9ecef;
}

progress {
    width: 100%;
    height: 100%;
}

/* Fondo de la barra de progreso */
progress::-webkit-progress-bar {
    background-color: #616060; /* Fondo gris claro */
    border-radius: 4px; /* Bordes redondeados */
}

/* Color de la barra de progreso completada en Chrome, Edge y Safari */
.green-progress::-webkit-progress-value {
    background-color: green; /* Verde para resultado positivo */
}

.red-progress::-webkit-progress-value {
    background-color: red; /* Rojo para resultado negativo */
}

/* Compatibilidad con Firefox */
.green-progress::-moz-progress-bar {
    background-color: green; /* Verde para resultado positivo */
}

.red-progress::-moz-progress-bar {
    background-color: red; /* Rojo para resultado negativo */
}

/* Para navegadores que no admiten pseudo-clases (fallback) */
.green-progress,
.red-progress {
    background-color: transparent; /* Elimina estilos predeterminados visibles */
    position: relative;
}

.green-progress::after,
.red-progress::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: calc(attr(value) * 1%);
    background-color: inherit;
    border-radius: 4px;
}

/* Texto superpuesto */
.progress-bar-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
}